<% if(errorMessage && errorMessage.length > 0){ %> 
<% errorMessage.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p><%= error %><p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %> 
<% } %> 
